.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: space-between;
}

.shop {
    border: 10px solid pink;
    padding: 5px;
    border-spacing: 10px;
}